@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.skip-header-link {
  position: absolute;
  transform: translateY(-120%);
  padding: calc(var(--gap) * 2);

  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-medium);

  background-color: var(--color);
  color: var(--background-color);

  transition: transform 0.3s ease-in-out;
  left: calc(var(--gap) * 2);
  top: calc(var(--gap) * 2);
  text-decoration: none;
}

.skip-header-link:focus {
  transform: translateY(0);
}
