---
import Link from "../components/ui/link.astro";
import Strong from "../components/ui/strong.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Augustin Sorel">
  <main class="pt-20 px-max-width">
    <section
      id="about"
      class="py-16 flex justify-between flex-col-reverse gap-3 md:flex-row"
    >
      <div class="space-y-3">
        <h1 class="capitalize text-4xl leading-tight">
          augustin
          <Strong>sorel</Strong>,
          <br />
           software engineer
        </h1>
        <p class="text-muted-foreground text-lg">
          I am a software engineer student from the University of
          <Link href="https://le.ac.uk/" target="_blank">Leicester.</Link>
          <br />
           Passionate about
          <Strong>web development</Strong>
           and
          <Strong>design.</Strong>
        </p>
      </div>
      <img width={156} src="./memoji.png" alt="a memoji of me" />
    </section>

    <section id="projects">
      <h2 class="uppercase text-muted text-lg font-light">selected projects</h2>
      <hr class="border-primary mb-5 mt-2" />
      <nav class="grid grid-cols-[repeat(auto-fill,minmax(400px,1fr))] gap-5">
        <a
          href="https://github.com/augustinsorel/gym-graphs"
          class="rounded-md p-5 backdrop-blur-md bg-primary border border-border"
          target="_blank"
        >
          <h3 class="capitalize text-lg">gym graphs</h3>
        </a>
        <a
          href="https://github.com/augustinsorel/ts-interpreter"
          class="rounded-md p-5 backdrop-blur-md bg-primary border border-border"
          target="_blank"
        >
          <h3 class="capitalize text-lg">typescript interpreter</h3>
        </a>
        <a
          href="https://github.com/augustinsorel/instagram-imitation"
          class="rounded-md p-5 backdrop-blur-md bg-primary border border-border"
          target="_blank"
        >
          <h3 class="capitalize text-lg">instagram imitation</h3>
        </a>
        <a
          href="https://github.com/AugustinSorel/ecommerce-jewelry"
          class="rounded-md p-5 backdrop-blur-md bg-primary border border-border"
          target="_blank"
        >
          <h3 class="capitalize text-lg">jewelry ecommerce</h3>
        </a>
        <a
          href="https://github.com/AugustinSorel/DoublePendulum"
          class="rounded-md p-5 backdrop-blur-md bg-primary border border-border"
          target="_blank"
        >
          <h3 class="capitalize text-lg">sorting algorithm visualizer</h3>
        </a>
        <a
          href='https://github.com/AugustinSorel/DfsVisualization""'
          class="rounded-md p-5 backdrop-blur-md bg-primary border border-border"
          target="_blank"
        >
          <h3 class="capitalize text-lg">DFS visualizer</h3>
        </a>
      </nav>
    </section>
  </main>
</Layout>
