---
import ProjectCard from "../components/projectCard.astro";
import Link from "../components/ui/link.astro";
import Strong from "../components/ui/strong.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Augustin Sorel">
  <main class="px-max-width">
    <section
      id="about"
      class="pt-[calc(var(--header-height)+4rem)] pb-4 flex justify-between flex-col-reverse gap-3 md:flex-row"
    >
      <div class="space-y-3">
        <h1 class="capitalize text-4xl leading-tight">
          augustin
          <Strong>sorel</Strong>,
          <br />
           software engineer
        </h1>
        <p class="text-muted-foreground text-lg">
          I am a software engineer student from the University of
          <Link variant="wavy" href="https://le.ac.uk/" target="_blank">
            Leicester.
          </Link>
          <br />
           Passionate about
          <Strong>web development</Strong>
           and
          <Strong>design.</Strong>
        </p>
      </div>
      <img width={156} src="./memoji.png" alt="a memoji of me" />
    </section>

    <section id="projects">
      <h2 class="uppercase text-muted text-lg font-light">selected projects</h2>
      <hr class="border-primary mb-5 mt-2" />
      <nav
        class="grid grid-cols-[repeat(auto-fill,minmax(min(400px,100%),1fr))] gap-3"
      >
        <ProjectCard
          href="https://github.com/augustinsorel/gym-graphs"
          title="gym graphs"
          description="a gym application to track your progress"
        />

        <ProjectCard
          href="https://github.com/augustinsorel/ts-interpreter"
          title="typescript interpreter"
          description="A programming language made from scratch"
        />

        <ProjectCard
          href="https://github.com/augustinsorel/instagram-imitation"
          title="instagram imitation"
          description="A clone of instagram made"
        />

        <ProjectCard
          href="https://github.com/AugustinSorel/ecommerce-jewelry"
          title="jewelry ecommerce"
          description="A perfetly working ecommerce app"
        />

        <ProjectCard
          href="https://github.com/AugustinSorel/DoublePendulum"
          title="double pendulum"
          description="A double pendulum simulation"
        />

        <ProjectCard
          href="https://github.com/AugustinSorel/DoublePendulum"
          title="DFS visualizer"
          description="A maze generator and solver using DFS"
        />
      </nav>
    </section>
  </main>
</Layout>
