---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Augustin Sorel">
  <main>
    <span>hello</span>
    <br />
    <span class="text-accent-foreground">hello</span>
  </main>
</Layout>
