---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="flex items-center justify-between">
    <h1 class="capitalize text-muted-foreground">augustin sorel</h1>
    <fieldset class="text-xs text-muted-foreground" data-theme-togglers>
      <legend class="sr-only">change color theme</legend>
      <label
        class="cursor-pointer ring-offset-background transition-colors checked:text-foreground hover:text-foreground [&:has(input:checked)]:text-foreground [&:has(input:focus-visible)]:outline-none [&:has(input:focus-visible)]:ring-2 [&:has(input:focus-visible)]:ring-ring [&:has(input:focus-visible)]:ring-offset-2"
      >
        <input
          name="theme"
          type="radio"
          value="system"
          class="sr-only"
          checked
        />
        system
      </label>
      <span>/</span>
      <label
        class="cursor-pointer ring-offset-background transition-colors checked:text-foreground hover:text-foreground [&:has(input:checked)]:text-foreground [&:has(input:focus-visible)]:outline-none [&:has(input:focus-visible)]:ring-2 [&:has(input:focus-visible)]:ring-ring [&:has(input:focus-visible)]:ring-offset-2"
      >
        <input name="theme" type="radio" class="sr-only" value="light" />
        light
      </label>
      <span>/</span>
      <label
        class="cursor-pointer ring-offset-background transition-colors checked:text-foreground hover:text-foreground [&:has(input:checked)]:text-foreground [&:has(input:focus-visible)]:outline-none [&:has(input:focus-visible)]:ring-2 [&:has(input:focus-visible)]:ring-ring [&:has(input:focus-visible)]:ring-offset-2"
      >
        <input name="theme" type="radio" class="sr-only" value="dark" />
        dark
      </label>
    </fieldset>
  </header>

  <main class="space-y-20">
    <section class="space-y-3">
      <div
        class="relative flex w-max items-center justify-center rounded-full bg-muted transition-colors after:absolute after:-right-2 after:bottom-0 after:flex after:h-8 after:w-8 after:items-center after:justify-center after:rounded-full after:bg-background after:shadow-lg after:transition-colors after:content-['🎉']"
      >
        <img
          src="/avatar.png"
          width="78"
          height="78"
          alt="my profile picture"
          class="translate-y-0.5"
        />
      </div>
      <h2 class="text-2xl first-letter:capitalize">i craft interfaces</h2>
      <p class="text-muted-foreground">
        I’m a passionate full-stack developer with a strong focus on crafting
        efficient, scalable, and user-friendly applications. My journey in tech
        has taken me through front-end magic, back-end logic, and everything in
        between, ensuring seamless experiences for users.
      </p>
    </section>

    <section class="space-y-3">
      <h2 class="capitalize">current projects</h2>
      <ol class="space-y-10">
        <li>
          <a
            href="https://github.com/AugustinSorel/gym-graphs"
            target="_blank"
            data-umami-event="gym graphs project clicked"
            class="relative flex flex-col rounded-md bg-background p-3 ring-offset-background transition-colors before:absolute before:-inset-1 before:-z-10 before:animate-gradient before:rounded-[10px] before:bg-red-500 before:bg-[linear-gradient(to_right,theme(colors.purple.400),theme(colors.pink.300),theme(colors.orange.400),theme(colors.pink.300),theme(colors.purple.400))] before:bg-[length:200%_auto] before:opacity-0 before:transition-opacity hover:bg-background/90 hover:before:opacity-100 focus-visible:bg-background/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
          >
            <time datetime="2024-08-01" class="text-sm text-muted-foreground"
              >aug 2024</time
            >
            <h3 class="text-xl capitalize">gym graphs</h3>
            <p class="max-w-xs text-muted-foreground">
              Gym Graphs allows users to track their gym progress with the help
              of graphs.
            </p>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/AugustinSorel/serendipjs"
            target="_blank"
            data-umami-event="serendipJs project clicked"
            class="relative flex flex-col rounded-md bg-background p-3 ring-offset-background transition-colors before:absolute before:-inset-1 before:-z-10 before:animate-gradient before:rounded-[10px] before:bg-red-500 before:bg-[linear-gradient(to_right,theme(colors.purple.400),theme(colors.pink.300),theme(colors.orange.400),theme(colors.pink.300),theme(colors.purple.400))] before:bg-[length:200%_auto] before:opacity-0 before:transition-opacity hover:bg-background/90 hover:before:opacity-100 focus-visible:bg-background/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
          >
            <time datetime="2024-02-01" class="text-sm text-muted-foreground"
              >feb 2024</time
            >
            <h3 class="text-xl capitalize">serendipJs</h3>
            <p class="max-w-xs text-muted-foreground">
              a fully functional front end framework written from scratch
            </p>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/AugustinSorel/ts-interpreter"
            target="_blank"
            data-umami-event="ts interpreter project clicked"
            class="relative flex flex-col rounded-md bg-background p-3 ring-offset-background transition-colors before:absolute before:-inset-1 before:-z-10 before:animate-gradient before:rounded-[10px] before:bg-red-500 before:bg-[linear-gradient(to_right,theme(colors.purple.400),theme(colors.pink.300),theme(colors.orange.400),theme(colors.pink.300),theme(colors.purple.400))] before:bg-[length:200%_auto] before:opacity-0 before:transition-opacity hover:bg-background/90 hover:before:opacity-100 focus-visible:bg-background/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
          >
            <time datetime="2023-08-01" class="text-sm text-muted-foreground"
              >aug 2023</time
            >
            <h3 class="text-xl capitalize">ts interpreter</h3>
            <p class="max-w-xs text-muted-foreground">
              programming language made from scratch with typescript
            </p>
          </a>
        </li>
      </ol>
    </section>
  </main>

  <footer
    class="flex items-center justify-between gap-1 text-sm text-muted-foreground"
  >
    <p data-current-full-year></p>
    <nav class="space-x-1">
      <a
        href="/CV-2024-EN.pdf"
        target="_blank"
        class="ring-offset-background transition-colors hover:underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
        data-umami-event="cv link clicked">resume</a
      >
      <a
        href="https://github.com/AugustinSorel/"
        target="_blank"
        class="ring-offset-background transition-colors hover:underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
        data-umami-event="github link clicked">github</a
      >
    </nav>
  </footer>
</Layout>

<script>
  for (const el of document.querySelectorAll("[data-current-full-year]")) {
    el.textContent = new Date().getFullYear().toString();
  }
</script>
