---
import ThemeToggler from "./themeToggler.astro";
import Link from "./ui/link.astro";
---

<header
  class="z-20 w-max fixed top-0 left-1/2 border px-2 py-1.5 my-8 border-border rounded-full backdrop-blur-md -translate-x-1/2 flex items-center gap-2 right-0"
>
  <nav
    class="capitalize text-xs md:text-sm flex gap-1 items-center"
    id="main-nav"
  >
    <Link
      href="#about"
      class="md:px-5 px-2 py-2 rounded-full w-16 text-center aria-[current=true]:bg-primary transition-colors md:w-24 aria-[current=true]:backdrop-blur-md hover:text-muted-foreground"
    >
      about
    </Link>
    <Link
      href="#projects"
      class="md:px-5 px-2 py-2 rounded-full w-16 text-center aria-[current=true]:bg-primary transition-colors md:w-24 aria-[current=true]:backdrop-blur-md hover:text-muted-foreground"
    >
      projects
    </Link>
    <Link
      href="#stack"
      class="md:px-5 px-2 py-2 rounded-full w-16 text-center aria-[current=true]:bg-primary transition-colors md:w-24 aria-[current=true]:backdrop-blur-md hover:text-muted-foreground"
    >
      stack
    </Link>
  </nav>
  <ThemeToggler />
</header>

<script>
  const mainNav = document.querySelector("#main-nav");

  if (!mainNav) {
    throw new Error("Main nav not found");
  }

  const allAnchors = mainNav.querySelectorAll("a");

  const selectCurrentAnchor = () => {
    const currentPath = window.location.href.split("#")[1] || "about";
    allAnchors.forEach((anchor) => {
      anchor.setAttribute("aria-current", "false");
      if (anchor.getAttribute("href") === `#${currentPath}`) {
        anchor.setAttribute("aria-current", "true");
      }
    });
  };

  window.addEventListener("hashchange", selectCurrentAnchor);

  selectCurrentAnchor();
</script>
