---
import Link from "./ui/link.astro";

type Props = {
  companyLink: string;
  companyName: string;
  jobTitle: string;
};

const { companyLink, companyName, jobTitle } = Astro.props;
---

<Link
  href={companyLink}
  class="rounded-md p-4 backdrop-blur-md bg-primary border border-border hover:bg-border transition-colors gap-x-3 grid grid-cols-[auto_1fr]"
  target="_blank"
>
  <div class="row-span-2 self-center">
    <slot name="icon" />
  </div>

  <h3 class="capitalize text-lg col-start-2">{companyName}</h3>
  <p class="text-muted-foreground capitalize font-light col-start-2">
    {jobTitle}
  </p>
</Link>
