---
import { cn } from "../utils/style";
import Link from "./ui/link.astro";

type Props = {
  docsLink: string;
  iconBackgroundColor: string;
};

const { docsLink, iconBackgroundColor } = Astro.props;
---

<Link
  href={docsLink}
  class="rounded-md p-3 flex gap-3 items-center backdrop-blur-md bg-primary border border-border hover:bg-border transition-colors"
  target="_blank"
>
  <div
    class={cn(
      "p-2 items-center justify-center rounded-lg",
      iconBackgroundColor
    )}
  >
    <slot name="icon" />
  </div>

  <slot name="text" />
</Link>
