<div
  class="relative h-9 w-9 bg-primary border border-border backdrop-blur-md overflow-hidden hover:bg-border rounded-full aspect-square focus-within:bg-red-500"
>
  <input
    id="theme-switcher"
    type="checkbox"
    class="abolute inset-0 opacity-0 cursor-pointer w-full h-full"
    checked="true"
    aria-label="Toggle dark mode"
  />
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="fill-none stroke-current stroke-2 pointer-events-none absolute inset-1.5 [input:checked+&_path]:[d:path('M12_3v1m0_16v1m9-9h-1M4_12H3m15.364_6.364l-.707-.707M6.343_6.343l-.707-.707m12.728_0l-.707.707M6.343_17.657l-.707.707M16_12a4_4_0_11-8_0_4_4_0_018_0z')]"
  >
    <path
      d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
    >
    </path>
  </svg>
</div>

<script>
  const themeSwitcher = document.getElementById(
    "theme-switcher"
  ) as HTMLInputElement | null;

  if (!themeSwitcher) {
    throw new Error("Theme switcher button not found");
  }

  themeSwitcher.addEventListener("change", () => {
    localStorage.setItem("theme", themeSwitcher.checked ? "dark" : "light");
  });

  const theme = localStorage.getItem("theme") ?? "dark";
  themeSwitcher.checked = theme === "dark";
</script>
