---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>augustin</title>
    <script is:inline>
      const cachedTheme = localStorage.getItem("theme");

      if (cachedTheme) {
        document.documentElement.dataset["theme"] = cachedTheme;
      }
    </script>
    {
      import.meta.env.PROD && (
        <script
          defer
          src="https://analytics.augustin-sorel.com/script.js"
          data-website-id="51f8056c-9e6d-4e55-8c1f-95debfcc2d12"
        />
      )
    }
    <noscript>
      <style>
        [data-theme-togglers] {
          display: none;
        }
      </style>
    </noscript>
  </head>
  <body
    class="bg-background text-foreground py-4 px-max-width transition-colors space-y-20"
  >
    <slot />
  </body>
</html>
