---
import GridBackground from "../components/gridBackground.astro";
import Header from "../components/header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="dark relative min-h-screen text-foreground bg-gradient-to-bl from-accent to-transparent bg-background"
  >
    <Header />
    <slot />
    <GridBackground />
  </body>
</html>
<style is:global>
  :root {
    --background: 0 0% 80%;
    --foreground: 0 0% 10%;

    --primary: 0 0% 0% / 0.05;

    --border: 0 0% 0% / 0.1;

    --accent: 165 100% 90%;
    --accent-foreground: 165 100% 30%;

    --max-width-container: 1000px;
    --header-height: 80px;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 93%;

    --primary: 0 0% 100% / 0.05;

    --accent: 165 100% 6%;
    --accent-foreground: 165 100% 50%;

    --border: 0 0% 100% / 0.1;
  }

  ::-webkit-scrollbar {
    display: none;
  }
</style>
