---
import { type VariantProps, cva } from "class-variance-authority";
import {cn} from '../../utils/style'
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'button'> &
  VariantProps<typeof buttonVariants>  ;

const { size,variant,class:className,...rest } = Astro.props;


const buttonVariants = cva(
  "inline-flex items-center justify-center rounded-md text-sm capitalize font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring disabled:opacity-50 disabled:pointer-events-none",
  {
    variants: {
      variant: {
        default:
          "bg-primary border border-border backdrop-blur-md hover:bg-border",
        icon:'bg-primary backdrop-blur-md hover:bg-border border border-border',
      },
      size: {
        default: "h-10 py-2 px-4",
        sm: "h-9 px-3 rounded-md",
        lg: "h-11 text-base px-8 rounded-md",
        icon:'p-1.5 rounded-full aspect-square'
      },
    },
    defaultVariants: {
      variant: "default",
      size: "default",
    },
  }
);
---

<button 
  class={cn(buttonVariants({ variant,  size, class:className }))}
  {...rest}
  >
  <slot/>
</button>